{% extends 'site_template.html' %}

{% block body %}
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                          {{titulo}}
                        </h1>

                    </div>
                </div>
                <!-- /.row -->
                <form method="GET" action="/">
                    <button type="submit" class="btn btn-orange btn-rounded mx-0">Ir a Inicio</button>
                    </form>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
{% endblock %}