{% extends 'parent.html' %}
{% set isPanel = "yes" %}
{% block title %}Cartones{% endblock %}
{% block currentPage %}cartones{% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css" href="static\css\pricing.css">
<!-- /#page-wrapper -->
<style>
	#innerTtable {
		border: 4px solid #1b1a1a;

	}

	#innerTtable2 {
		border: 4px solid #5d5a5a;

	}

	#innerTtable3 {
		border: 3px solid #0b0b0c;

	}

	#fuentenro {
		font-size: large;
		font-weight: bold;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		width: 100%;
		padding: 0px;
		text-align: center;




	}


	#nroboleta {
		width: 0%;
		padding: 0px;
		height: 0%;
		background-color: rgb(144, 182, 144);
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

	}
</style>
<div id="page-wrapper">

	<div class="container-fluid table-responsive">

		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">
					5.000 Boletas con 2 cartones de bingo cada uno
					(usted participa con los 2 cartones)
				</h3>
				<!-- <ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i> <a href="/">Rifas Disponibles</a>
					</li>
					<li class="active">
						<i class="fa fa-table"></i> Cartones
					</li>
				</ol> -->

			</div>
			<div class="panel panel-primary">
				<div class="panel panel-primary">
					<div class="panel-heading">

						<br>
						<hr>
						<h5>Mostrar Nro de boleta desde hasta</h5>

					</div>
					<div class="panel-body">

						<form method="POST" action="/cartones">
							<div class="container-fluid p-3 my-3 border">
								<!-- <h3>Mostrar Nro de carton desde hasta</h3> -->
								<div class="row">

									<span>Desde</span><button class="btn btn-warning mx-auto d-block" type="submit"
										value={{desde}} name="btndesde">
										{{desde}}</button>



									<span>Siguientes</span>
									<button class="btn btn-warning mx-auto d-block" type="submit" value={{hasta}}
										name="btnhasta">{{hasta}}</button>

								</div>
						</form>
					</div>
				</div>
				<hr>
				<div class="col-lg-12">
					<form class="form-inline mr-auto mb-4" id="mainCartones" action="/cartones" method="post">
						<h5>BUSCAR UNA BOLETA EN ESPECIAL</h5>
						<div class="input-group mt-3 mb-3">
							<input type="text" class="form-control" aria-label="Buscar" id="nroboleta" name="nroboleta"
								placeholder="BUSCAR" aria-label="Recipient's username" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-warning" form="mainCartones" type="submit" name="btn"
									value='searchBol'><i class="fa fa-search"></i></button>
							</div>
						</div>

					</form>
				</div>
				<hr>
				<!-- <div class="col-lg-12">
					<form class="form-inline md-form mr-auto mb-4" action="/cartones" method="post">
						<input class="form-control mr-sm-2" type="number" placeholder="Buscar un Nro en Carton"
							aria-label="Buscar" name="nroencarton" id="nroencarton">
						<button class="btn btn-outline-info btn-rounded btn-sm my-0" type="submit" name="btn"
							value='searchnro'>Buscar Nro</button>
					</form>
				</div> -->
			</div>
		</div>
		<!-- Page Heading -->
		<!-- /.row -->
		<!--Big blue-->


		<table id="dtBasicExample" class="dt-responsive" width="100%">
			<thead id="innerTtable3">
				<tr>
					<!-- <th class="text-center">.</th> -->
					<th id="innerTtable3" class="text-center">
						<h5> CARTON 1</h5>
					</th>
					<!-- 	<th class="center">-</th> -->
					<th id="innerTtable3" class="text-center">
						<h5> CARTON 2</h5>
					</th>

				</tr>
			</thead>


			<tbody id="innerTtable">
				{% for i in boletasres %}
				<tr id="innerTtable3">
					<!-- <td id="nroboleta">{{ i.nroboleta }} </td> -->
					<!-- <td id="nroboleta" class="success">
							<form method="POST" action="/carton">
								<button class="btn-sm btn-primary" name="nrocarton" value={{ i.nroboleta }}
									type="submit">{{ i.nroboleta }}</button>
							</form>
						</td> -->
					<!-- 	carton NRO 1 -->
					<td id="innerTtable3" class="text/center lime lighten-4">
						<table id="innerTtable2" class="table-responsive" width="0%">

							<thead>

								<form method="POST" action="/carton">
									<button class="btn btn-warning btn-sm text-dark btn-block text-center"
										name="nrocarton" value={{ i.nroboleta }} type="submit">CLICK PARA CONTINUAR:
										{{ i.nroboleta }}</button>
								</form>

							</thead>
							<tbody id="innerTtable2">
								<tr id="innerTtable2">

									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										{% if i.nro2 > 9 %}
										<h4 id="fuentenro" class="text-center">{{ i.nro2 }}</h4>
										{% else %}
										<h4 id="fuentenro" class="text-center">0{{ i.nro2 }}</h4>
										{% endif %}


									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="text-center">{{ i.nro5 }}</h4>
									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="text-center">{{ i.nro8 }}</h4>
									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
								</tr>
								<tr id="innerTtable2">

									<td id="innerTtable2">
										{% if i.nro1 > 9 %}
										<h4 id="fuentenro" class="text-center">{{ i.nro1 }}</h4>
										{% else %}
										<h4 id="fuentenro" class="text-center">0{{ i.nro1 }}</h4>
										{% endif %}

									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">


									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="text-center">{{ i.nro4 }}</h4>
									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="text-center">{{ i.nro7 }}</h4>
									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="text-center">{{ i.nro10 }}</h4>
									</td>
								</tr>
								<tr id="innerTtable2">

									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="text-center">{{ i.nro3 }}</h4>
									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="display-1 text-center">{{ i.nro6 }}</h4>
									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="display-1 text-center">{{ i.nro9 }}</h4>
									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
								</tr>
							</tbody>
						</table>
					</td>
					<!-- 	carton NRO 2 c2nro -->
					<td id="innerTtable3" class="center lime lighten-4">
						<table id="innerTtable2" class="table-responsive" width="0%">
							<thead>

								<form method="POST" action="/carton">
									<button class="btn btn-warning btn-sm text-dark btn-block text-center"
										name="nrocarton" value={{ i.nroboleta }} type="submit">
										CLICK PARA CONTINUAR: {{ i.nroboleta }}</button>
								</form>

							</thead>
							<tbody id="innerTtable2">
								<tr id="innerTtable2">

									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										{% if i.c2nro2 > 9 %}
										<h4 id="fuentenro" class="text-center">{{ i.c2nro2 }}</h4>
										{% else %}
										<h4 id="fuentenro" class="text-center">0{{ i.c2nro2 }}</h4>
										{% endif %}


									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="text-center">{{ i.c2nro5 }}</h4>
									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="text-center">{{ i.c2nro8 }}</h4>
									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
								</tr>
								<tr id="innerTtable2">

									<td id="innerTtable2">
										{% if i.c2nro1 > 9 %}
										<h4 id="fuentenro" class="text-center">{{ i.c2nro1 }}</h4>
										{% else %}
										<h4 id="fuentenro" class="text-center">0{{ i.c2nro1 }}</h4>
										{% endif %}

									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">


									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="text-center">{{ i.c2nro4 }}</h4>
									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="text-center">{{ i.c2nro7 }}</h4>
									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="text-center">{{ i.c2nro10 }}</h4>
									</td>
								</tr>
								<tr id="innerTtable2">

									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="text-center">{{ i.c2nro3 }}</h4>
									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="display-1 text-center">{{ i.c2nro6 }}</h4>
									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
									<td id="innerTtable2">
										<h4 id="fuentenro" class="display-1 text-center">{{ i.c2nro9 }}</h4>
									</td>
									<td id="innerTtable2">
										<img src="static\images\logo3.png" class="img-fluid img-thumbnail" alt="Sheep">

									</td>
								</tr>
							</tbody>
						</table>


					</td>

				</tr>
				{% endfor %}
			</tbody>

		</table>

		<hr>



		<!-- /.row -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h5>Mostrar Nro de boleta desde hasta</h5>
			</div>
			<div class="panel-body">
				<form method="POST" action="/cartones">
					<div class="container-fluid p-3 my-3 border">
						<!-- <h3>Mostrar Nro de carton desde hasta</h3> -->
						<div class="row">

							<span>Desde</span><button class="btn btn-warning mx-auto d-block" type="submit"
								value={{desde}} name="btndesde">
								{{desde}}</button>



							<span>siguientes</span>
							<button class="btn btn-warning mx-auto d-block" type="submit" value={{hasta}}
								name="btnhasta">{{hasta}}</button>

						</div>
				</form>
			</div>
		</div>

	</div>

</div>
<!-- /.container-fluid -->


<!-- Datatables initialization -->
<script src="/static/js/jquery.js"></script>
<script>
	// Basic example
	$(document).ready(function () {
		$('#dtBasicExample').DataTable({
			"ordering": false,
			"paging": false, // false to disable pagination (or any other option)
			"responsive": true,
			"bFilter": false,
			"language": {

				"sProcessing": "Procesando...",
				"sLengthMenu": "Ver de a _MENU_ Boletas",
				"sZeroRecords": "Boleta vendida o reservada",
				"sEmptyTable": "Boleta vendida o reservada",
				"sInfo": "Mostrando _TOTAL_ Boletas disponibles",
				"sInfoEmpty": "Boleta Vendida o Reservada",
				"sInfoFiltered": "(filtrado de un total de _MAX_ Boletas)",
				"sInfoPostFix": "",
				"sSearch": "Buscar:",
				"sUrl": "",
				"sInfoThousands": ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
					"sFirst": "Primero",
					"sLast": "Último",
					"sNext": "Siguiente",
					"sPrevious": "Anterior"
				},
				"oAria": {
					"sSortAscending": ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				}
			}
		});
		$('.dataTables_length').addClass('bs-select');
	});
</script>
{% endblock %}