{% extends 'site_template.html' %}

{% block body %}


<div class="container">
    <div class="alert alert-info">
        <strong>Info!</strong> Por favor, confirmar su informacion para continuar
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <font color="red">
                    <li>{{ message }}</li>
                </font>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="/">Ir a pagina anterior</a>
                        </div>

                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div><span>Nombres:</span></div>
                            <div class="form-group">
                                <input type="text" name="nombre" id="nombre" tabindex="1" class="form-control"
                                    placeholder="Nombre" value="{{ user.nombre }}">
                            </div>
                            <div><span>Apellidos:</span></div>
                            <div class="form-group">
                                <input type="text" name="apellido" id="apellido" tabindex="2" class="form-control"
                                    placeholder="Apellido" value="{{ user.apellido }}">
                            </div>
                            <div><span>DNI::</span></div>
                        <div class="form-group">
                            <input type="number" name="dni" id="dni" tabindex="3" class="form-control"
                                placeholder="DNI" value="{{ user.dni }}">
                        </div>
                            <div><span>Domicilio Particular:</span></div>
                            <div class="form-group">
                                <input type="text" name="domiciliopart" id="domiciliopart" tabindex="3"
                                    class="form-control" placeholder="Domicilio Particular"
                                    value="{{ user.domiciliopart }}">
                            </div>
                            <div><span>Localidad:</span></div>
                            <div class="form-group">
                                <input type="text" name="localidad" id="localidad" tabindex="6" class="form-control"
                                    placeholder="localidad" value="{{ user.localidad }}">
                            </div>
                            <div><span>Provincia:</span></div>
                            <div class="form-group">
                                <input type="text" name="provincia" id="provincia" tabindex="6" class="form-control"
                                    placeholder="provincia" value="{{ user.provincia }}">
                            </div>
                            <div><span>Telefono:</span></div>
                            <div class="form-group">
                                <input type="text" name="telefonocelular" id="telefonocelular" tabindex="4"
                                    class="form-control" placeholder="Telefono"
                                    value="{{ user.telefonocelular }}">
                            </div>
                            <!-- <div><span>Telefono Fijo:</span></div>
                                <div class="form-group">
                                    <input type="text" name="telefonofijo" id="telefonofijo" tabindex="5"
                                        class="form-control" placeholder="Telefono Fijo" value={{ user.telefonofijo }}>
                                </div> -->

                            <div><span>Email:</span></div>
                            <div class="form-group">
                                <input type="email" name="email" id="email" tabindex="1" class="form-control"
                                    placeholder="Email" value={{ user.email }}>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <!--                                             <button class="generic_price_btn clearfix" name="nrocarton"
                                                value={{ nrocarton }} type="submit"> Confirmar informacion Personal
                                            </button> -->

                                        <button type="button" class="generic_price_btn clearfix" data-toggle="modal"
                                            data-target="#myModal" onclick="getuservalues()">
                                            Confirmar informacion Personal
                                        </button>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <p>

            </p>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">DATOS CONFIRMADOS!</h4>

               <!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="scroll-box">
                    <h5>Gracias por confirmar sus datos!</h5>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <form action="/personaldata" method="POST">
                    <button class="btn btn-danger" name="nrocarton" value={{ nrocarton }} type="submit"> CONTINUAR
                    </button>
                </form>
                <!--   <button type="button" class="btn btn-danger" data-dismiss="modal">ACEPTO LAS CONDIONES
                    GENERALES</button> -->
            </div>

        </div>
    </div>
</div>
<script>
    function getuservalues()
{
var persdata = {
    nombre: document.getElementById("nombre").value,
    apellido: document.getElementById("apellido").value,
    email: document.getElementById("email").value,
    telefonocelular: document.getElementById("telefonocelular").value,
    localidad: document.getElementById("localidad").value,
    domiciliopart: document.getElementById("domiciliopart").value,
    dni: document.getElementById("dni").value,
    provincia: document.getElementById("provincia").value

};

$.post('/guardapersonaldata/1',persdata)

}
</script>


{% endblock %}