{% extends 'site_template.html' %}

{% block body %}
<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    PREGUNTAS FREQUENTES
                </h1>
                <div>
                    <img src={{ rifa.url_faq }} class="img-thumbnail" alt="No hay Imagen">
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
{% endblock %}