{% extends "parent.html" %}
{% block title %}Registrarse{% endblock %}
{% block currentPage %}login{% endblock %}
{% block body %}





						<div class="wrapper ">
							<div id="formContent">
							  <!-- Tabs Titles -->
						  
							  <!-- Icon -->
							  <div class="fadeIn first">
								  Recuperá tu contraseña
								{% with messages = get_flashed_messages() %}
					{% if messages %}
					<ul class=flashes>
						{% for message in messages %}
						<li>{{ message }}</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% endwith %}
							  </div>
						  
							  <!-- Login Form -->
							  <form action="/forgotpasswordsend" method="POST">
								<input type="email" name="email" id="email" class="fadeIn first" placeholder="Email con el que se registro">
								<input type="submit" class="fadeIn second" value="Enviar">
							  </form>
						  
							  <!-- Remind Passowrd -->
							  <div id="formFooter">
								<ol>
									<li>
										Ingrese el Email con el cual se registro, le enviaremos instrucciones para recuperar su usuario/contraseña</li>
									</ul>
	
								</ol>
							  </div>
						  
							</div>
						  </div>



{% endblock %}


