{% extends 'parent.html' %}
{% set isPanel = "yes" %}
{% block title %}Ganadores{% endblock %}
{% block currentPage %}ganadores{% endblock %}
{% block body %}
<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    LISTADO DE GANADORES
                </h1>
                <div>
                    <img src={{ rifa.url_ganadores }} class="img-thumbnail" alt="Sheep">
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
{% endblock %}