{% extends "parent.html" %}
{% block title %}Registrarse{% endblock %}
{% block currentPage %}login{% endblock %}
{% block body %}




						<div class="wrapper ">
							<div id="formContent">
							  <!-- Tabs Titles -->
						  
							  <!-- Icon -->
							  <div class="fadeIn first">
								  Ingresá con tu usuario para poder jugar
								{% with messages = get_flashed_messages() %}
					{% if messages %}
					<ul class=flashes>
						{% for message in messages %}
						<li>{{ message }}</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% endwith %}
							  </div>
						  
							  <!-- Login Form -->
							  <form action="/register" method="POST">
								<input type="text" id="login" class="fadeIn second" name="username" placeholder="Usuario">
								<input type="email" id="email" class="fadeIn second" name="email" placeholder="Usuario">
								<input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña">
								<input type="password" id="confirm-password" class="fadeIn third" name="confirm-password" placeholder="Contraseña">
								<input type="submit" class="fadeIn fourth" value="Registrarse">
							  </form>
						  
							  <!-- Remind Passowrd -->
							  <div id="formFooter">
								<ol>
									<li>
										<p>El nombre de usuario debe tener menos de 20 caracteres. </p>
									</li>
									<p>	La contraseña debe contener lo siguiente:</p>
									<li> Minimo 8 caracteres.</li>
		<!-- 							<li> debe contener 1 numero</li>
									<li> debe contener al menos 1 letra mayuscula</li>
									<li> debe contener al menos 1 letra minuscula</li> -->
	
									<!-- 											<p>
													<li> debe contener algun caracter especial ($%^#).</li>
												</p> -->
									</ul>
	
								</ol>
							  </div>
						  
							</div>
						  </div>


{% endblock %}


