<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <link href="../static/css/custom.css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon2.ico' />
    <style>
        .responsive {
            width: 50%;
            height: auto;
        }

        .inputmysize {
            width: 550px;
            height: 35px;
            font-size: auto;
            font-weight: bold;

        }

        .contborde {
            border: dimgray;

        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <font color="red">
                        <li>{{ message }}</li>
                    </font>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <div class="panel panel-default text-center">
                    <div class="panel-heading text-center">REGISTRARSE
                        <div class="row">

                            <div class="col-lg-12">
                                <img src='/static/images/logo4.png' class="responsive" alt="Cinque Terre">
                            </div>
                        </div>
                        <div class="row">

<!--                             <div class="col-xs-6">
                                <a href="/register" class="active">Registrarse</a>
                            </div> -->
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body text-center">
                        <div class="col-xs-6">
                            <a href="/login">Ir a pagina anterior</a>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="register-form" action="/register" method="post" role="form">
                                    <!--                                 <div class="form-group">
                                    <input type="text" name="nombre" id="nombre" tabindex="1" class="form-control"
                                           placeholder="Nombre" value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="apellido" id="apellido" tabindex="2" class="form-control"
                                           placeholder="Apellido" value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="domiciliopart" id="domiciliopart" tabindex="3" class="form-control"
                                           placeholder="Domicilio Particular" value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="telefonocelular" id="telefonocelular" tabindex="4" class="form-control"
                                           placeholder="Telefono Celular" value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="telefonofijo" id="telefonofijo" tabindex="5" class="form-control"
                                           placeholder="Telefono Fijo" value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="domiciliocobro" id="domiciliocobro" tabindex="6" class="form-control"
                                           placeholder="Domicilio de cobro" value="">
                                </div> -->
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="1"
                                            class="inputmysize" placeholder="Nombre de usuario" value="">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" tabindex="2" class="inputmysize"
                                            placeholder="Email" value="">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="3"
                                            class="inputmysize" placeholder="Contraseñsa">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <input type="password" name="confirm-password" id="confirm-password"
                                            tabindex="4" class="inputmysize" placeholder="confirmar contraseña">
                                    </div>
                                    <br>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit"
                                                    tabindex="5" class="form-control btn btn-register"
                                                    value="Registrarse Ahora!">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                <ol>
                    <li>
                        <h2>El nombre de usuario debe tener menos de 20 caracteres. </h2>
                    </li>

                    <li>
                        <h2> La contraseña debe contener lo siguiente:</h2>
                        <ul>
                            <h3>
                                <li> Minimo 8 letras.</li>
                                <h3>
                                    <li> debe contener 1 unmero</li>
                                </h3>
                                <h3>
                                    <li> debe contener al menos 1 letra mayuscula</li>
                                </h3>
                                <h3>
                                    <li> debe contener al menos 1 letra minuscula</li>
                                </h3>
                                <h3>
                                    <li> debe contener algun caracter especial ($%^#).</li>
                                </h3>
                        </ul>
                    </li>

                </ol>
                </p>
            </div>
        </div>
    </div>
</body>

</html>