<!DOCTYPE html>
<html lang="en">

<head>
	<title>HRB BINGO VIRTUAL / RESETEAR CONTRASEÑA </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='login/images/icons/favicon.ico') }}" />

	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login/vendor/bootstrap/css/bootstrap.min.css') }}">

	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login/vendor/animate/animate.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login/vendor/css-hamburgers/hamburgers.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login/vendor/animsition/css/animsition.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login/vendor/select2/select2.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login/vendor/daterangepicker/daterangepicker.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login/css/main.css') }}">
	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form p-l-55 p-r-55 p-t-178" action="/updatepassword" method="post">
					<span class="login100-form-title">
						RESETEAR CONTRASEÑA
					</span>
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					<ul class=flashes>
						{% for message in messages %}
						<li>{{ message }}</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% endwith %}
					<div class="wrap-input100 validate-input m-b-16" data-validate="Por favor ingrese su usuario">
						<input class="input100" type="text" name="username" id="username" placeholder="usuario" value="{{user.username}}" readonly>
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Por favor ingrese su Email">
						<input class="input100" type="email" name="email" id="email" placeholder="Email" value="{{user.email}}" readonly>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Ingrese una contraseña">
						<input class="input100" type="password" name="password" id="password" placeholder="Contraseña">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="repita contraseña">
						<input class="input100" type="password" name="confirm-password" id="confirm-password"
							placeholder="confirme Contraseña">
						<span class="focus-input100"></span>
					</div>

					<div class="text-right p-t-13 p-b-23">
						<span class="txt1">
							<ol>
								<li>
									<p>El nombre de usuario debe tener menos de 20 caracteres. </p>
								</li>
								<p>	La contraseña debe contener lo siguiente:</p>
								<li> Minimo 8 caracteres.</li>
<!-- 								<li> debe contener 1 numero</li>
								<li> debe contener al menos 1 letra mayuscula</li>
								<li> debe contener al menos 1 letra minuscula</li> -->

								<!-- 											<p>
												<li> debe contener algun caracter especial ($%^#).</li>
											</p> -->
								</ul>

							</ol>
						</span>


					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Guardar Nueva Contraseña
						</button>
					</div>

					<!-- 					<div class="flex-col-c p-t-170 p-b-40">
						<span class="txt1 p-b-9">

						</span> -->


			</div>
			</form>
		</div>
	</div>
	</div>


	<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='login/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='login/vendor/animsition/js/animsition.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='login/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static',filename='login/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='login/vendor/select2/select2.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='login/vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static',filename='login/vendor/daterangepicker/daterangepicker.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='login/vendor/countdowntime/countdowntime.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='login/js/main.js') }}"></script>

</body>

</html>