{% extends 'site_template.html' %}
<style>
    * {
        box-sizing: border-box;
    }

    body {
        font: 16px Arial;
    }

    /*the container must be positioned relative:*/
    .autocomplete {
        position: relative;
        display: inline-block;
    }

    input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
    }

    input[type=text] {
        background-color: #f1f1f1;
        width: 100%;
    }

    input[type=submit] {
        background-color: DodgerBlue;
        color: #fff;
        cursor: pointer;
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #201f1f;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: rgb(19, 18, 18);
        border-bottom: 1px solid #131212;
    }

    /*when hovering an item:*/
    .autocomplete-items div:hover {
        background-color: #bbafec;
    }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;

    }

    #innerTtable {
        border: 4px solid #1b1a1a;

    }

    #innerTtable2 {
        border: 4px solid #5d5a5a;

    }

    #innerTtable3 {
        border: 3px solid #0b0b0c;

    }

    #fuentenro {
        font-size: large;
        font-weight: bold;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        width: 100%;
        padding: 0px;
        text-align: center;




    }

    #nroboleta {
        width: 0%;
        padding: 0px;
        height: 0%;
        background-color: rgb(144, 182, 144);

    }
</style>
{% block body %}
<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Vender una Boleta
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <div class="panel panel-login">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div><span>Cliente: </span></div>
                                    <div class="form-group">
                                        <input type="hidden" name="iduser" id="iduser" class="form-control">
                                        <input type="text" name="cliente" id="cliente" tabindex="1"
                                            placeholder="Nombre del cliente" required>
                                        <button type="button" class="btn-sm btn-primary" data-toggle="modal"
                                            data-target="#modalnewuser">Nuevo Usuario</button>
                                    </div>
                                    <div><span>Nro de Boleta: </span></div>
                                    <div class="form-group">
                                        <input type="number" name="boleta" id="nroboleta" tabindex="2"
                                             placeholder="nro de boleta" required>
                                        <button type="button" class="btn-sm btn-primary" data-toggle="modal"
                                            data-target="#modalboleta">Elegir una boleta</button>
                                    </div>
                                    <div><span>Datos de la Gestion:</span></div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="datos" name="datos" rows="4"
                                            placeholder="datos de la gestion"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <button type="button" class="generic_price_btn clearfix"
                                                    data-toggle="modal" data-target="#confirmaVenta"
                                                    onclick="saveventa()">
                                                    Guardar Venta
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
<!--Modal: Nuew User-->
<div class="modal fade" id="modalnewuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Crear Nuevo Usuario</p>
            </div>

            <!--Body-->
            <div class="modal-body">

                <div class="col-lg-12">
                    <div><span>Nombre de Usuario:</span></div>
                    <div class="form-group">
                        <input type="text" name="username" id="username" tabindex="1" class="form-control"
                            placeholder="Nombre de Usuario">
                    </div>
                    <div><span>Nombres:</span></div>
                    <div class="form-group">
                        <input type="text" name="nombre" id="nombre" tabindex="1" class="form-control"
                            placeholder="Nombre">
                    </div>
                    <div><span>Apellidos:</span></div>
                    <div class="form-group">
                        <input type="text" name="apellido" id="apellido" tabindex="2" class="form-control"
                            placeholder="Apellido">
                    </div>
                    <div><span>DNI:</span></div>
                    <div class="form-group">
                        <input type="number" name="dni" id="dni" tabindex="3" class="form-control" placeholder="DNI">
                    </div>
                    <div><span>Domicilio:</span></div>
                    <div class="form-group">
                        <input type="text" name="domiciliopart" id="domiciliopart" tabindex="4" class="form-control"
                            placeholder="Domicilio">
                    </div>
                    <div><span>Localidad:</span></div>
                    <div class="form-group">
                        <input type="text" name="localidad" id="localidad" tabindex="5" class="form-control"
                            placeholder="localidad">
                    </div>
                    <div><span>Provincia:</span></div>
                    <div class="form-group">
                        <input type="text" name="provincia" id="provincia" tabindex="5" class="form-control"
                            placeholder="provincia" value=>
                    </div>
                    <div><span>Telefono:</span></div>
                    <div class="form-group">
                        <input type="text" name="telefonocelular" id="telefonocelular" tabindex="6" class="form-control"
                            placeholder="Telefono">
                    </div>
                    <!-- <div><span>Telefono Fijo:</span></div>
                                <div class="form-group">
                                    <input type="text" name="telefonofijo" id="telefonofijo" tabindex="5"
                                        class="form-control" placeholder="Telefono Fijo" value={{ user.telefonofijo }}>
                                </div> -->

                    <div><span>Email:</span></div>
                    <div class="form-group">
                        <input type="email" name="email" id="email" tabindex="1" class="form-control"
                            placeholder="Email">
                    </div>

                </div>

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">

                <a type="button" class="btn  btn-outline-info" onclick="savenewuser()">Guardar</a>
                <a type="button" class="btn  btn-info waves-effect" data-dismiss="modal">Volver</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: New user-->

<!--Modal: Choose Boleta-->
<div class="modal fade" id="modalboleta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Seleccionar boleta</p>
            </div>

            <!--Body-->
            <div class="modal-body">

                <i class="fas fa-times fa-4x animated rotateIn"></i>

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a type="button" class="btn  btn-info waves-effect" data-dismiss="modal">Salir</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: New user-->
<div class="modal" id="confirmaVenta">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">VENTA</h4>

                <!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="scroll-box">
                    <h2 id="mensaje">Venta Guardada</h2>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <form action="/backoffice" method="POST">
                    <button class="btn btn-danger" name="nrocarton" value='1' type="submit"> OK
                    </button>
                </form>
                <!--   <button type="button" class="btn btn-danger" data-dismiss="modal">ACEPTO LAS CONDIONES
                    GENERALES</button> -->
            </div>

        </div>
    </div>
</div>

<script>
    function savenewuser() {

        var persdata = {
            username: document.getElementById("username").value,
            nombre: document.getElementById("nombre").value,
            apellido: document.getElementById("apellido").value,
            email: document.getElementById("email").value,
            telefonocelular: document.getElementById("telefonocelular").value,
            localidad: document.getElementById("localidad").value,
            domiciliopart: document.getElementById("domiciliopart").value,
            dni: document.getElementById("dni").value,
            provincia: document.getElementById("provincia").value,
            password: 'u53rP422w0rd$'
        };

        $.post('/nuevousuario', persdata)
        $('#modalnewuser').modal('hide')
        window.location.reload();
        //document.getElementById("myText").value = "Johnny Bravo"

    }
    function saveventa() {

        var dataventa = {
            nrocarton: document.getElementById("nroboleta").value,
            cliente: document.getElementById("cliente").value,
            datosgest: document.getElementById("datos").value,
            isventa: 1

        };

        var validation = true

        var cliente = document.getElementById("cliente").value
        var boleta = document.getElementById("nroboleta").value

        if (cliente == "") {
            document.getElementById("mensaje").innerHTML = "Por Favor Agregue el cliente"
            validation = false
        }
        if (boleta == "") {
            document.getElementById("mensaje").innerHTML = "Por Favor Agregue el Nro de Boleta"
            validation = false
        }
        if (validation == true) {
            document.getElementById("mensaje").innerHTML = "Venta Realizada y enviada a la lista de Boletas"
            $.post('/ventabo', dataventa)
        }

        //document.getElementById("myText").value = "Johnny Bravo"

    }


    //AUTOCOMPLETE for BOletas
    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }
    function autocompletebol(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }
    var usuarios = {{ usuarios | tojson}}
    var boletas = {{ boletas | tojson }}
    autocomplete(document.getElementById("cliente"), usuarios);
    autocompletebol(document.getElementById("nroboleta"), boletas);
</script>

<script src="/static/js/jquery.js"></script>
<script>
    // Basic example
    $(document).ready(function () {
        $('#dtBasicExample').DataTable({
            "paging": true, // false to disable pagination (or any other option)
            "responsive": true
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>
{% endblock %}